vnc_directory="$HOME/.vnc"
# delete old instalation : 
if [ -d $vnc_directory ]; then
  rm -rf $vnc_directory
  mkdir -p $vnc_directory
else
  mkdir -p $vnc_directory
fi
# prevenet tty from asking set up default desktop env 
touch $vnc_directory/.de-was-selected
SALT='$5$kasm$'
hashed_pw=$(mkpasswd -m descrypt "$VNC_PW" "$SALT")
passwd_file=$HOME/.kasmpasswd
echo "$VNC_USER:$hashed_pw:ow" > $passwd_file
chmod 600 $passwd_file
openssl req -x509 -nodes -days 3650 -newkey rsa:2048 -keyout $vnc_directory/self.pem -out $vnc_directory/self.pem -subj /C=US/ST=VA/L=None/O=None/OU=DoFu/CN=kasm/emailAddress=none@none.none
echo -n "
network:
	protocol: http
	interface: 0.0.0.0
	websocket_port: $VNC_PORT
	use_ipv4: true
	use_ipv6: true
	udp:
		public_ip: auto
		port: auto
		stun_server: auto
	ssl:
		pem_certificate: $passwd_file
		pem_key: $passwd_file
		require_ssl: false

logging:
	log_writer_name: all
	log_dest: logfile
	level: 1
" > /root/.vnc/kasmvnc.yaml
touch /root/.vnc/xstartup
chmod 700 /root/.vnc/xstartup
